.listbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
  }
  
  .counter {
    display: flex;
    justify-content: space-between;
    & p {
      color: #1a0441;
      & span {
        font-weight: bold;
      }
    }
  }
  .error {
    border: 1px solid #bf4040;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: larger;
    color: #bf4040;
    text-shadow: 0 0 1px #1a0441;
    & p {
      font-size: x-large;
      margin-bottom: 5px;
    }
  }